.blog {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 30%;
  margin: auto;
  padding: auto;
}

.blog > .post {
  width: 100%;
  height: max-content;
  background: rgb(241, 241, 241);
  border: none;
  margin: 10px;
}

form > input {
  width: 100%;
  padding: 5px 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  background: rgb(241, 241, 241);
}
form > input:focus {
  outline: none;
}
.postIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.postContent > h5 {
  margin-left: 10px;
  height: fit-content;
}
.comments {
  padding-left: 30px;
  font-size: 15px;
}
.authorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.authorInfo > * {
  margin-left: 4px;
  margin-right: 4px;
}
.postHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.userComponent {
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.username {
  margin-left: 10px;
}
