.leftbar {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  height: 600px;
  width: 15%;
  background-color: rgb(241, 241, 241);
  position: fixed;
  left: 0;
}
.userComponents {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 70%;
  align-items: center;
}
.usernames {
  margin-left: 10px;
}
