.mypost {
  width: 90%;
  height: max-content;
  background: rgb(241, 241, 241);
  border: none;
  margin: 10px;
}
.signInFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 10%;
}
.signInFirst > button {
  margin-top: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: fit-content;
  background: #f1f1f1;
  margin: 10px auto 0;
  word-break: break-all;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: auto; */
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;

  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100%);
  height: 2px;
  background: rgb(78, 79, 82);
}

.bloc-tabs > button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.active-content {
  display: block;
}
.profileBtn {
  display: flex;
  flex-direction: row;
}
.profilePic {
  display: flex;
  flex-direction: column;
}
